# Stripe
STRIPE_SECRET_KEY=sk_test_xxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxx

# Mollie
MOLLIE_API_KEY=test_xxxx

# Coinbase Commerce
COINBASE_COMMERCE_API_KEY=xxxx

# Site
SITE_URL=https://carlay-art.com
